@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

html {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.almost-full-width {
  width: 80%;
}

.almost-full {
  height: 75%;
  width: 80%;
}

.navbar-like {
  height: 30%;
  width: 100%;
}

.padded {
  padding: 10px;
}

.margined {
  margin: 10px;
}

.spaced-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.separated-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.centered-top-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlined {
  border: 2px solid #d9e1eb;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bg-black {
  background: #000 !important;
}

.pro-sidebar {
  border-right: 1px solid #d9e1eb;
}

.pro-sidebar > .pro-sidebar-inner {
  background: #fff !important;
  /* background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important; */
}

.pro-menu-item.active {
  --bs-bg-opacity: 1;
  background: #f3ad3a !important; 
  color: #f3ad3a;
}

.pro-sidebar.collapsed {
  width: 60px !important;
  min-width: 60px !important;
}

.pro-sidebar .pro-menu .pro-menu-item {
  display: flex !important; 
  align-items: center !important;
  justify-content: center !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 8px !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  margin-right: 0px !important; 
  width: 40px !important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item.active > .pro-inner-item > .pro-icon-wrapper {
  background-color: #fff !important;
  color: #f3ad3a !important;
  border: none !important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background-color: #fff !important;
  color: gray !important;
  border: 1px solid #d9e1eb;
}

/* CODE TAB */

.bp3-tab-list > div {
  font-size: 20px !important;
}

.bp3-tree {
    min-height: 50% !important;
    max-height: 50% !important;
    overflow-y: auto;
}

::-webkit-scrollbar {
  display: none !important;
} 

/* .bp3-card {
  max-height: 500px !important;

} */

/* FOR STOCK VIEW */
.App {
	text-align: center;
}

.App-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	background-color: #222;
	color: #fff;
}

.App-tv-logo {
	height: 45px;
}

.App-react-logo {
	display: block;
	height: 62px;
}

.App-title {
	display: block;
	font-size: 1.5em;
}


.bp3-datepicker {
  display: flex;
  justify-content: center;
  align-content: center;
}

.bp3-tree {
  box-shadow: none !important;
  min-height: 250px !important;
  height: 250px !important;
  max-height: 300px !important;
}

.nice-red {
  color: #FF4136 !important;
}
